:root {
    --primary-color: rgb(139, 149, 178);
    --secondary-color: rgb(139, 149, 178);
    --bg-color: #ffffff;
    --font-color: #000000;
    --heading-color: #000000;
    margin: 0;
    padding: 0;
}   

[data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(50, 50, 50);
    --bg-color: rgb(0, 0, 0);
    --font-color: #ffffff;
    --heading-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1 {
    color: var(--heading-color);
}

header {
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}


nav form {
    margin-right: 20px; 
    text-align: right; 
}

main {
    padding: 20px;
}

footer {
    color: var(--font-color);
    text-align: bottom;
    padding-bottom: 0%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: var(--secondary-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

hmtl, body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    width:360px;
    
}

#inputField {
    height: 46px;
    width: 300px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;

}

#addtoDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
}

.to-dos{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

#password {
    width: 300px;
    margin-right: 100px;
}